.content-wraper,
.environment,
.realm,
.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content-wrapper {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.environment {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: perspective(500px);
    -moz-transform: perspective(500px);
    -o-transform: perspective(500px);
    transform: perspective(500px);
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    -ms-perspective: 500px;
    -o-perspective: 500px;
    perspective: 500px;
    -webkit-perspective-origin: center center;
    -moz-perspective-origin: center center;
    -ms-perspective-origin: center center;
    -o-perspective-origin: center center;
    perspective-origin: center center;
}

.realm {
    top: 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.env__depth {
    position: relative;
    z-index: 0;
}

.layer h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin: -150px 0 0 -150px;
    font-size: 10px;
    color: #ffffff;
    padding: 5px;
}

/*#layer1 h1 {*/
    /*-webkit-box-shadow: 0 0 0 600px #4cc1e3;*/
    /*-moz-box-shadow: 0 0 0 600px #4cc1e3;*/
    /*-o-box-shadow: 0 0 0 600px #4cc1e3;*/
    /*box-shadow: 0 0 0 600px #4cc1e3;*/
/*}*/
/*#layer2 h1 {*/
    /*-webkit-box-shadow: 0 0 0 600px #4ba0bf;*/
    /*-moz-box-shadow: 0 0 0 600px #4ba0bf;*/
    /*-o-box-shadow: 0 0 0 600px #4ba0bf;*/
    /*box-shadow: 0 0 0 600px #4ba0bf;*/
/*}*/
/*#layer3 h1 {*/
    /*-webkit-box-shadow: 0 0 0 600px #497f9a;*/
    /*-moz-box-shadow: 0 0 0 600px #497f9a;*/
    /*-o-box-shadow: 0 0 0 600px #497f9a;*/
    /*box-shadow: 0 0 0 600px #497f9a;*/
/*}*/
/*#layer4 h1 {*/
    /*-webkit-box-shadow: 0 0 0 600px #465d76;*/
    /*-moz-box-shadow: 0 0 0 600px #465d76;*/
    /*-o-box-shadow: 0 0 0 600px #465d76;*/
    /*box-shadow: 0 0 0 600px #465d76;*/
/*}*/
/*#layer5 h1 {*/
    /*-webkit-box-shadow: 0 0 0 600px #46455b;*/
    /*-moz-box-shadow: 0 0 0 600px #46455b;*/
    /*-o-box-shadow: 0 0 0 600px #46455b;*/
    /*box-shadow: 0 0 0 600px #46455b;*/
/*}*/
#layer6 h1 {
    /*-webkit-box-shadow: 0 0 0 600px #442b3f;*/
    /*-moz-box-shadow: 0 0 0 600px #442b3f;*/
    /*-o-box-shadow: 0 0 0 600px #442b3f;*/
    /*box-shadow: 0 0 0 600px #442b3f;*/
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    text-align: center;
}

.main-nav {
    display: inline-block;
    margin: 0 auto;
}

.nav_item {
    display: block;
    float: left;
    text-decoration: none;
    padding: 10px;
}

.nav_item:hover, .nav_item.nav_item-active {
    color: red;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    text-align: center;
    padding: 10px;
    color: rgba(180, 180, 180, 0.7);
    font-size: 12px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    text-align: center;
}

video {
    /*height: 100%;*/
    width: 100%;
}

#layer1 h1 {
    width: 600px;
    height: 600px;
    background: url(../img/mask.png) no-repeat;
    background-size: 100%;
    left: 34%;
    top: 34%;
    opacity: .8;
}

#layer2 img {
    top: 21%;
    position: absolute;
    left: 34%;
    width: 200px;
    height: 200px;
}

.test-case-wrapper img {
    /*display: none;*/
}

.active-now .test-case-wrapper img {
    display: block;
}

.hidden {
    display: none;
}

img {
    display: block;
}

.active{
    display: block;
}

#layer4 .test-opacity img {
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.test-opacity {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: -10;
}

#layer2 .test-opacity,
#layer4 img,
#layer2 .test-opacity .video {
    /*background-color: teal;*/
    border: 8px solid red;
    border-right: 12px solid red;
    border-bottom: 12px solid red;
    padding: 12px;
    overflow: hidden;
}

#layer4 .test-opacity {
    /*background-color: deepskyblue;*/
    background-image: url(../img/hendyriding.gif);
    -ms-transform: rotate(25deg); /* IE 9 */
    -webkit-transform: rotate(25deg); /* Chrome, Safari, Opera */
    transform: rotate(25deg);
    height: 400%;
    width: 400%;
    left: -166%;
    top: -150%;
}

.test-opacity video {
    height: 100%;
    width: auto;
}

#layer1 .test-case-wrapper {
    height: 181%;
}

#layer1 .test-case-wrapper img {
    height: 100%;
}

#layer2 img,
#layer4 img {
    width: auto;
}

#layer2 .test-case-wrapper {}

#layer2 img,
#layer4 img {
    width: auto;
    height: 100%;
    left: 15%;
    top: 0;
}

#layer2 img {
    opacity: .5;
}